#
# MCR3000 Platform Specific Drivers
#

menuconfig SAF3000_PLATFORM_DEVICES
	bool "SAF3000 Platform Specific Device Drivers"
	default y
	---help---
	  Say Y here to get to see options for device drivers for SAF3000
	  platform.
	  This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if SAF3000_PLATFORM_DEVICES

config SAF3000_CLASS
	bool

config FPGA_LOADER
	tristate "FPGA loader"
	depends on GPIOLIB
	depends on SPI
	depends on OF_GPIO
	select SAF3000_CLASS
	default y
	---help---
	  Module de chargement du code FPGA. Permet de charger le uCOR FPGA
	  au demarrage

config OPX_GPIO
	bool "GPIO driver for OPx PINs on MPC8xx"
	depends on GPIOLIB
	depends on OF_GPIO
	default y
	---help---
	  Driver GPIO pour les Outputs OPx du MPC8xx

if MCR3000
config MCR3000_CPLD
	bool "CPLD ChipSelect SPI"
	depends on GPIOLIB
	depends on OF_GPIO
	select SAF3000_CLASS
	default y
	---help---
	  Driver GPIO pour les ChipSelects SPI
endif

if MOD885
config FPGAF_INFO
	tristate "Infos FPGAF"
	select SAF3000_CLASS
	select LEDS_CLASS
	default y
	---help---
	  Driver pour recuperer dans /sys les infos FPGA Firmware

config CMPC_CPLD
	tristate "Pilotage CPLD Carte MPC"
	select LEDS_CLASS
	default y
	---help---
	  Driver pour piloter les leds de la MCR 2G
endif
endif
