/*
 * CMPC885 Device Tree Source
 *
 * Copyright 2010 CSSI, Inc
 */

/dts-v1/;

/ {
	model = "CMPC885";
	compatible = "fsl,cmpc885", "fsl,mod885";
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		ethernet0 = &eth0;
		mdio1 = &phy1;
		serial0 = &smc1;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		PowerPC,885@0 {
			device_type = "cpu";
			reg = <0x0>;
			d-cache-line-size = <16>;	// 16 bytes
			i-cache-line-size = <16>;	// 16 bytes
			d-cache-size = <8192>;
			i-cache-size = <8192>;
			timebase-frequency = <0>;
			bus-frequency = <0>;
			clock-frequency = <0>;
			interrupts = <15 2>;		// decrementer interrupt
			interrupt-parent = <&PIC>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0>;			// defined by U-BOOT
	};

	localbus@ff000100 {
		compatible = "fsl,cmpc885-localbus", "fsl,pq1-localbus";
		#address-cells = <2>;
		#size-cells = <1>;
		reg = <0xff000100 0x40>;		  // ORx and BRx register

		ranges = <0 0x0 0x40000000 0x00400000	// Boot Flash
			  1 0x0 0x00000000 0x08000000	// SRAM
			  2 0x0 0xc0000000 0x00008000	// Nand Flash
			  3 0x0 0xe0000000 0x00010000	// DPRAM
			  4 0x0 0xd0000000 0x10000000	// Periphs
			  5 0x0 0xc8000000 0x00008000	// CPLD
			  6 0x0 0x80000000 0x00008000	// mezzanine
			  7 0x0 0xf0000000 0x00008000>;	// DSP

		flash@0,0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "cfi-flash";
			reg = <0x0 0x00000000 0x400000>;
			bank-width = <2>;
			device-width = <2>;
			partition@0 {
				label = "boot";
				reg = <0x0 0x50000>;
			};
			partition@50000 {
				label = "env";
				reg = <0x50000 0x10000>;
			};
			partition@60000 {
				label = "blob";
				reg = <0x60000 0x30000>;
			};
			partition@90000 {
				label = "kernel";
				reg = <0x90000 0x370000>;
			};
		};

		nand@2,0 {
			compatible = "s3k,cmpc885-nand";
			reg = <2 0x0 0x01>;
			#address-cells = <1>;
			#size-cells = <1>;
			gpios = <&CPM1_PIO_D 12 1 	// CLE
				 &CPM1_PIO_D 13 1	// ALE
				 &CPM1_PIO_D 15 1>;	// NCE
		};

		cpld-cmpc@5,0000000 { // Driver KNL
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "s3k,mcr3000-cpld-cmpc";
			reg = <5 0x0 0x10>;
		};
	};

	soc@ff000000 {
		compatible = "fsl,mpc885", "fsl,pq1-soc";
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "soc";
		ranges = <0x0 0xff000000 0x4000>;
		bus-frequency = <0>;

		WDT: watchdog@0 {
			compatible = "fsl,mpc823-wdt";
			reg = <0x0 0x10>;
		};

		phy1: mdio@e00 {
			compatible = "fsl,mpc885-fec-mdio", "fsl,pq1-fec-mdio";
			reg = <0xe00 0x188>;
			#address-cells = <1>;
			#size-cells = <0>;

			PHY1: ethernet-phy@1 {
				interrupts = <2 1>;
				interrupt-parent = <&PIC>;
				reg = <0x1>;
				device_type = "ethernet-phy";
			};
		};

		eth0: ethernet@e00 {
			device_type = "network";
			compatible = "fsl,mpc885-fec-enet", "fsl,pq1-fec-enet";
			reg = <0xe00 0x188>;
			local-mac-address = [ 00 00 00 00 00 00 ];
			interrupts = <3 1>;
			interrupt-parent = <&PIC>;
			phy-handle = <&PHY1>;
			linux,network-index = <0>;
		};

		PIC: pic@0 {
			interrupt-controller;
			#interrupt-cells = <2>;
			reg = <0x0 0x24>;
			compatible = "fsl,mpc885-pic", "fsl,pq1-pic";
		};

		SIT: sit@200 {
			compatible = "fsl,mpc866-sit", "fsl,pq1-sit";
			reg = <0x200 0x80>;
			interrupts = <11 1>;
			interrupt-parent = <&PIC>;
		};

		cpm@9c0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "fsl,mpc885-cpm", "fsl,cpm1";
			ranges;
			reg = <0x9c0 0x40>;
			brg-frequency = <0>;
			interrupts = <0>;	// cpm error interrupt
			interrupt-parent = <&CPM_PIC>;

			muram@2000 {
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x2000 0x2000>;

				data@0 {
					compatible = "fsl,cpm-muram-data";
					reg = <0x0 0x1c00>;
				};
			};

			brg@9f0 {
				compatible = "fsl,mpc885-brg", "fsl,cpm1-brg", "fsl,cpm-brg";
				reg = <0x9f0 0x10>;
				clock-frequency = <0>;
			};

			CPM_PIC: pic@930 {
				interrupt-controller;
				#address-cells = <0>;
				#interrupt-cells = <1>;
				interrupts = <5 2 0 2>;
				interrupt-parent = <&PIC>;
				reg = <0x930 0x20>;
				compatible = "fsl,mpc885-cpm-pic", "fsl,cpm1-pic";
			};

			CPM1_PIO_A: gpio-controller@950 {
				#gpio-cells = <2>;
				compatible = "fsl,cpm1-pario-bank-a";
				reg = <0x950 0x10>;
				gpio-controller;
			};
		
			CPM1_PIO_B: gpio-controller@ab8 {
				#gpio-cells = <2>;
				compatible = "fsl,cpm1-pario-bank-b";
				reg = <0xab8 0x10>;
				gpio-controller;
			};
		
			CPM1_PIO_C: gpio-controller@960 {
				#gpio-cells = <2>;
				compatible = "fsl,cpm1-pario-bank-c";
				reg = <0x960 0x10>;
				interrupts = <0 0 0 0 1 2 6 9 10 11 14 15 23 24 26 31>;
				interrupt-parent = <&CPM_PIC>;
				gpio-controller;
			};
		
			CPM1_PIO_D: gpio-controller@970 {
				#gpio-cells = <2>;
				compatible = "fsl,cpm1-pario-bank-d";
				reg = <0x970 0x10>;
				gpio-controller;
			};

			CPM1_PIO_E: gpio-controller@ac8 {
				#gpio-cells = <2>;
				compatible = "fsl,cpm1-pario-bank-e";
				reg = <0xac8 0x18>;
				gpio-controller;
			};

			smc1: serial@a80 {
				device_type = "serial";
				compatible = "fsl,mpc885-smc-uart", "fsl,cpm1-smc-uart";
				reg = <0xa80 0x10 0x3e80 0x40>;
				interrupts = <4>;
				interrupt-parent = <&CPM_PIC>;
				fsl,cpm-brg = <4>;
				fsl,cpm-command = <0x90>;
			};

			scc2: serial@a20 {
				device_type = "serial";
				compatible = "fsl,mpc885-scc-uart", "fsl,cpm1-scc-uart";
				reg = <0xa20 0x20 0x3d00 0x80>;
				interrupts = <29>;
				interrupt-parent = <&CPM_PIC>;
				fsl,cpm-brg = <1>;
				fsl,cpm-command = <0x40>;
			};

			scc3: serial@a40 {
				device_type = "serial";
				compatible = "fsl,mpc885-scc-uart", "fsl,cpm1-scc-uart";
				reg = <0xa40 0x20 0x3e00 0x80>;
				interrupts = <28>;
				interrupt-parent = <&CPM_PIC>;
				fsl,cpm-brg = <2>;
				fsl,cpm-command = <0x80>;
			};

			scc4: serial@a60 {
				device_type = "serial";
				compatible = "fsl,mpc885-scc-uart", "fsl,cpm1-scc-uart";
				reg = <0xa60 0x20 0x3f00 0x80>;
				interrupts = <27>;
				interrupt-parent = <&CPM_PIC>;
				fsl,cpm-brg = <3>;
				fsl,cpm-command = <0xc0>;
			};

			smc2: serial@a90 {
				device_type = "serial";
				compatible = "fsl,mpc885-smc-uart", "fsl,cpm1-smc-uart";
				reg = <0xa90 0x10 0x3f80 0x40>;
				interrupts = <3>;
				interrupt-parent = <&CPM_PIC>;
				fsl,cpm-brg = <3>; /* normalement mettre une clock venant du FPGA */
				fsl,cpm-command = <0xd0>;
			};

			spi: spi@a80 {
				#address-cells = <1>;
				#size-cells = <0>;
				cell-index = <0>;
				compatible = "fsl,spi", "fsl,cpm1-spi";
				reg = <0xa80 0x30 0x1d80 0x30>;
				interrupts = <5>;
				interrupt-parent = <&CPM_PIC>;
				mode = "cpu";
				gpios = <&CPM1_PIO_B 21 1>;	/* EEPROM */
				eeprom@0 {
					compatible = "atmel,at25080", "cs,eeprom";
					spi-max-frequency = <1000000>;
					reg = <0>;
					spi-cs-high;
				};
			};
		};
	};

	chosen {
		linux,stdout-path = &smc1;
	};
};
